<div id="yo-admin-login">

	<h2> YO Admin Log-in </h2>

	<form>
		Username: <input id="username" type="text" name="username"><br>
		Password: <input id="password" type="text" name="password">
	</form>

</div>