<nav><a href="/logout">Logout</a></nav>
<div class="admin-container">
  <h1>WELCOME ADMIN</h1>

  <button id="yo-all">
    <span>YO ALL!</span>
    <%= image_tag "ajax-loader.gif" %>
  </button>

  <strong><p> OR <p></strong>

  <form>
	 <input id="username" type="text" name="yousername" placeholder="username"><br>
  </form>

  <button id="yo">
  	<span>YO!</span>
    <%= image_tag "ajax-loader.gif" %>
  </button>
</div>
<div id="player"></div>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-tubeplayer/1.1.6/jquery.tubeplayer.min.js"></script>