<div id="yo-container">
  <h1 id="counter"><span></span> YO'S @ OUTSIDELANDS!</h1>
  <i class="fa fa-arrow-down"></i>
  <i class="fa fa-arrow-down"></i>
  <i class="fa fa-arrow-down"></i>
  <i class="fa fa-arrow-down"></i>
  <i class="fa fa-arrow-down"></i>
  <i class="fa fa-arrow-down"></i>
  <i class="fa fa-arrow-down"></i>
  <i class="fa fa-arrow-down"></i>
  <i class="fa fa-arrow-down"></i>
  <i class="fa fa-arrow-down"></i>
  <i class="fa fa-arrow-down"></i>
  <i class="fa fa-arrow-down"></i>
  <span>HOLLER</span>
  <i class="fa fa-arrow-down"></i>
  <i class="fa fa-arrow-down"></i>
  <i class="fa fa-arrow-down"></i>
  <i class="fa fa-arrow-down"></i>
  <i class="fa fa-arrow-down"></i>
  <i class="fa fa-arrow-down"></i>
  <i class="fa fa-arrow-down"></i>
  <i class="fa fa-arrow-down"></i>
  <i class="fa fa-arrow-down"></i>
  <i class="fa fa-arrow-down"></i>
  <i class="fa fa-arrow-down"></i>
  <i class="fa fa-arrow-down"></i>
  <i class="fa fa-arrow-down"></i>
  <ul>
  </ul>
</div>