body {
  font-family: 'Montserrat', arial, sans-serif;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  text-align: center;
  font-size: 72px;
  padding: 26px;
  color: white;
}

li:nth-child(8n+1) {
  background: #1BBC9A;
}

li:nth-child(8n+2) {
  background: #3598DB;
}

li:nth-child(8n+3) {
  background: #34495E;
}

li:nth-child(8n+4) {
  background: #F1C40F;
}

li:nth-child(8n+5) {
  background: #2B80B9;
}

li:nth-child(8n+6) {
  background: #9738B6;
}

li:nth-child(8n+7) {
  background: #29D26D;
}

li:nth-child(8n+8) {
  background: #16A086;
}

body.animate li {
  display: none;
}

body.animate .dont-animate {
  display: block;
}

.admin-container {
  text-align: center;
}

h1 {
  font-size: 140px;
  margin: 0;
}

button {
  width: 800px;
  height: 110px;
  font-size: 50px;
  background: #9738B6;
  color: white;
  cursor: pointer;
  margin-top: 40px;
}

#yo-admin-login {
  text-align: center;
}

#yo-admin-login h2 {
  font-size: 100px;
  margin-bottom: 50px;
}

#yo-admin-login form {
  font-size: 40px;
}


input {
  height: 42px;
  width: 240px;
  vertical-align: top;
  font-size: 24px;
  margin-bottom: 20px;
}

nav {
  margin: 20px;
  text-align: right;
}
